[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
fabric = "*"
coverage = "*"

[packages]
django = "3.1.10"
markdown = "*"
gunicorn = {version = "*", index = "https://pypi.douban.com/simple"}
faker = "*"
django-pure-pagination = "*"
elasticsearch = ">=2,<3"
django-haystack = "*"
fabric = {index = "https://pypi.tuna.tsinghua.edu.cn/simple", version = "*"}
coverage = "*"

[requires]
python_version = "3"
